@media all and (min-width:52px){
    .companyParameter{
        max-width: 100%;
        padding:100px 20px 0px 20px;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 40%;
        overflow-wrap: anywhere;
      }
    .companyParameter__item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow-wrap: anywhere;
    }
    .mainContent{
      padding: 0 10px;
      width: 90vw;
      height: 90%;
      line-height: 1.5rem;
      overflow-wrap: anywhere;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      
    }
    .mainContent h1{
      font-family: var(--SECONDFF);
      font-size: var(--SECONDFS);
      font-weight: 300;
      margin-bottom: 10px;
      line-height: 1.8rem;
      text-align: center;
      line-height: 3rem;
      overflow-wrap: anywhere;
    }
    .mainContent h2{
      text-align:center;
      font-weight:300;
      font-family:var(--THIRDFF);
      font-style: normal;
    }
    .mainContent figure{
      align-self: center;
      display: flex;

      align-items: center;
    }
    .mainContent figure img{
      width: 100%;
      flex-grow: 1;
    }
    .storeOverView__img{
      opacity: 0; 
      transform: translateY(50px);
      transition: opacity 1s ease-in-out, transform 0.4s ease-out;
    }
    .storeOverView__img.animate{
      opacity: 1;
      transform: translateY(0px);
      animation: storeOverViewAnimation 1s ease-in-out forwards;
    }
    @keyframes storeOverViewAnimation {
      from { 
        opacity: 0;
        transform: translateY(50px);
      }
      to { 
        opacity: 1; 
        transform: translateY(0px);
      }
    }
    .productOfferings__img{
      opacity: 0; 
      transform: translateY(50px);
      transition: opacity 1s ease-in-out, transform 0.4s ease-out;
    }
    .productOfferings__img.animate{
      opacity: 1;
      transform: translateY(0px) rotate(360deg);
      animation: productOfferings__imgAnimation 1s ease-in-out forwards;
    }
    @keyframes productOfferings__imgAnimation {
      0% { 
        opacity: 0;
        transform: translateY(50px);
      }
      50% { 
        opacity: 1; 
        transform: translateY(0px);
      }
      100% {  
        transform:translateY(0px) rotateY(360deg);
      }
    }
    .PricingandPromotions__img {
      opacity: 0; 
      transform: translateY(50px);
      transition: opacity 1s ease-in-out, transform 0.4s ease-out;
    }
    .PricingandPromotions__img.animate {
      opacity: 1;
      transform: translateY(0px);
      animation: PricingandPromotions__imgAnimation 1s ease-in-out forwards;
    }
    @keyframes PricingandPromotions__imgAnimation {
      from { 
        opacity: 0;
        transform: translateY(50px);
      }
      to { 
        opacity: 1; 
        transform: translateY(0px);
      }
    }
    .mainContent h1{
      font-family: var(--SECONDFF);
        font-size: var(--SECONDFS);
        font-weight: 300;
    }
}
