@media all and (min-width:52px){
    header{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items:center;
        padding: 10px 10px 10px 10px;
        background-color: var(--BGCOLOR);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .header__logo{
        display: flex;
        flex-basis: clamp(25px,2vw,250px);
        overflow-wrap: break-word;
    }
    .header__p a{
        font-family: var(--LOGOFF);
        font-size: var(--LOGOFS);
        color: var(--FC);
        font-weight: 600;
    }
    .p__partOne{
        font-weight: bolder;
    }
    .largeMenu{
        display: none;
    }
    .smallMenu{
        display: flex;
        position: relative;
        font-family: var(--SECONDFF);
    }
    .smallMenu__item{
        display: flex;
        flex-flow: column;
        flex-grow: 1;
    }
    .header__Menu{
        max-height: 50px;
        align-self: center;
        justify-content:space-between ;
        gap: 5px;
        
    }
    .header__Menu__Line{
        width: 25px;
        height: 5px;
        background-color: var(--SECONDBGCOLOR);
        border-radius: 5px;
       
    }
    .header__Menu__SideMenu{
        background-color: var(--SECONDBGCOLOR);
        color: var(--SECONDFC);
        position: absolute;
        right: 0;
        top: 130%;
        
    }
    .sideMenu__Div{
        padding: 20px 0px 20px 10px;
        display: flex;
        flex-flow: column;
        gap: 20px;
    }
    .sideMenu__item{
        padding-right: 100px;
    }
    .sideMenu__item a{
        min-width: 100%;
    }
    .BrandsNames{
        padding-left: 10px;
        color: var(--SECONDFC);
        display: flex;
        flex-flow: column ;
    }
    .BrandsNames p{
        margin-bottom: 10px;
    }
    .header__Menu__SideMenu a{
        color: var(--SECONDFC);
    }
    
}
@media all and (min-width:550px){
    header{
        height: 100%;
    }
    .smallMenu{
        display: none;
    }
    .largeMenu{
        font-family: var(--SECONDFF);
        display: flex;
        flex-basis: clamp(300px,50vw,600px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        position: relative;
    }
    .brandsDiv{
        display: flex;
        position: relative;
    }
    .brandInLargeMenu,.dropDown{
        display: flex;
        flex-flow: column;
    }
    .dropDown{
        background-color: var(--SECONDBGCOLOR);
        position: absolute;
        top: 130%;
        padding: 10px 60px 10px 60px;
        right: -100%;
        gap: 10px;
        text-align: center;
        border-radius: 5px;
    }
    .largeMenu__item{
        margin-top: 10px;
    }
    .largeMenu__item a{
        color: var(--FC);
    }
    .dropDown a{
        color: var(--SECONDFC);
    }
    .brandInLargeMenu{
        cursor: pointer;
        display: flex;
        flex-flow: row;
        gap: 5px;
    }
    .largeMenu__item a:active,
    .largeMenu__item a:hover,.largeMenu__item a:focus,
    .brandInLargeMenu:hover,.brandInLargeMenu:focus{
        color:var(--FIRSTCOLOR);
    }
    .brandInSmallMenu:hover{
        cursor: pointer;
    }
}