@media all and (min-width:52px){
    .Collections{
        height: 100%;
        width: 100%;
        perspective: 1000px;
    }
    .headingOfCollection{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }
    .Collections__heading{
        margin: 0 auto;
        font-family: var(--SECONDFF);
        font-size: var(--THIRDFS);
        font-weight: 900;
        overflow-wrap: anywhere;
        text-align: center;
    }
    .Collections__heading {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
      }
      
      .Collections__heading.animate {
        opacity: 1;
        transform: translateY(0);
      }
    .downarrow a{
        text-align: center;
        color: var(--FC);
    }
    .BrandNamesDiv{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .collections__items{
        height: 70%;
        width: 70%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        perspective: 1000px;
        gap: 40px;
    }
    .items__group{
        align-self: center;
        flex-basis: clamp(60px,50vw,180px);
        display: flex;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s 0.3s;
        /* overflow-y: hidden; */
    }
    .card{
        padding: 10px;
        width: 100%;
        background-color: var(--SECONDCOLOR);
        border-radius: 50px;
        height:fit-content;
    }
    .backCard{
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        backface-visibility: hidden;
    }
    .backCard a{
        color: var(--FC);
    }
    .backCard p{
        font-size: 2rem;
        font-family: var(--SECONDFF);
        font-weight: 600;
    }
    .item{
        backface-visibility: hidden;
    }
    .item a{
        min-height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        color: var(--FC);
    }
    .img{
        width: 100%;
        flex-basis: clamp(50px,50vw,150px);
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .caption{
        text-align: center;
        font-size: 2rem;
        font-family: var(--SECONDFF);
        font-weight: 600;
        overflow-wrap: anywhere;
    }
    .items__group:hover{
        transform: rotateY(-180deg);
    }
    .vivo__caption__p.animate,
    .samsung__caption__p.animate,
    .realme__caption__p.animate,
    .poco__caption__p.animate,
    .apple__caption__p.animate,
    .onePlus__caption__p.animate{
        opacity: 1;
        transform: translateY(0);
    }
    .vivo__caption__p{
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out ;
    }
    .samsung__caption__p{
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.6s ease-out 0.2s, transform 0.6s ease-out 0.2s;
    }
    .realme__caption__p{
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.6s ease-out 0.3s, transform 0.6s ease-out 0.3s;
    }
    .poco__caption__p{
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.6s ease-out 0.4s, transform 0.6s ease-out 0.4s;
    }
    .apple__caption__p{
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.6s ease-out 0.5s, transform 0.6s ease-out 0.5s;
    }
    .onePlus__caption__p{
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.6s ease-out 0.6s, transform 0.6s ease-out 0.6s;
    }
}
