
.BuyPage{
    font-family: var(--FF);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 25px;
    margin-top: 20px;
    /* font-size: clamp(1rem,2vw,1.3rem); */
}
.imgAndDetails__figcaption *{
    margin-bottom: 10px;
}
.BuyPage__imgAndDetails{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}
.imgAndDetails{
    flex-grow: 1;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--THIRDCOLOR);
    color: var(--SECONDFC);
    display: flex;
    flex-flow: row wrap;
}
.imgAndDetails__figure{
    width:clamp(52px,50vw,300px);
    background-color: var(--BGCOLOR);
}
.imgAndDetails__figcaption{
    flex-basis:clamp(100px,90vw,500px);
    background-color: var(--BGCOLOR);
    color: var(--FC);
    font-weight: bold;
    display: flex;
    flex-flow: column wrap;
}
.figcaption__offerHeading{
    color: #fb641b;
    margin-top: 20px;
}
.off{
    color: #398e3c;
}
.imgAndDetails__notice{
    background-color: var(--SIXTHCOLOR);
    flex-grow: 0;
    flex-basis:clamp(100px,90vw,500px);
    color: var(--FC);
}
.imgAndDetails__notice p{
    line-height: 1.5rem;
    color: var(--SECONDFC);
}
.notice__h1{
    align-self: center;
}
.imgAndDetails__disclimer{
    display: flex;
    flex-flow: column wrap;
    flex-basis:clamp(100px,90vw,500px);
    background-color: var(--SECONDCOLOR);
    color: #fb641b;
    line-height: 1.2rem;
    gap: 10px;
}
.imgAndDetails__disclimer h2{
    text-align: center;
}
.imgAndDetails__disclimer h2,
.imgAndDetails__disclimer h3{
    color: var(--SECONDFC);
}
.imgAndDetails__figure img{
    width: 100%;
    height: auto;
}

.imgAndDetails__figure img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.BuyPage__buy{
    width: 90%;
    align-self: center;
    color: var(--FC);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}
.BuyPage__buy *{
    align-self: center;
}
.BuyPage__buy *:hover,.BuyPage__buy *:focus{
    cursor:pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}
.buy__buyButton{
    background-color: var(--BTNCOLOR);
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
}
.buy__buyButton:hover,.buy__buyButton:focus{
    text-decoration: underline;
}
.buy__priceOfPhone{
    background-color:rgb(255, 149, 0);
    padding: 8px 40px;
    border-radius: 20px;
}