.Collections{
    /* width: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 25px;
    padding-top: 60px;
    margin-top: -60px;
}
.Collection__disclimer{
    display: flex;
    flex-basis:clamp(100px,90vw,500px);
}
