.Disclimer{
    background: url('./images/wallpaperFour.jpg');/*  */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.Disclimer__Div{
    padding: 20px 10px;
    color:var(--FIFTHCOLOR);
    display: flex;
    flex-flow: column ;
    justify-content: flex-end;
}
.Disclimer__heading,.Disclimer__content{
    align-self: flex-end;
}
.Disclimer__heading{
    font-size: clamp(1.1rem, 8vw, 3.1rem);
    font-weight: 800;
}
.Disclimer__content{
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.Disclimer__content *{
    align-self: flex-end;
    text-align: end;
}
.content__h{
    color: var(--SECONDFC);
}