@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    offset: 60px;
}
:root{
    --FF:"Source Sans Pro", sans-serif;
    --SECONDFF:"Urbanist", sans-serif;
    --THIRDFF: "Barlow Condensed", sans-serif;
    --BGCOLOR:black;
    --SECONDBGCOLOR:white;
    --FC:white;
    --SECONDFC:black;
    --FS:clamp(1rem, 1.5vw, 3rem);
    --LOGOFS:clamp(1.7rem,10vw,2.5rem);
    --SECONDFS:clamp(3rem, 5vw, 4rem);
    --THIRDFS:clamp(2rem, 5vw, 4rem);
    --FIRSTCOLOR:#fd0380;
    --SECONDCOLOR: #171717;
    --THIRDCOLOR: orange;
    --FOURTHCOLOR:#99a5b6;
    --LINEHEIGHT:clamp(1.5,5vw,2rem);
    --BTNCOLOR:#008dfb;
    --SHADOWCOLOR:rgba(193, 186, 193, 0.965);
    --FOOTERBGCOLOR:#10131a;
    --FOOTERFCONE:#99a5b6;
}
body{
    background-color: var(--BGCOLOR);
    font-family: var(--FF);
    font-size: var(--FS);
    color: var(--FC);
    width: 100%;  
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
#root{
    width: 100%;
}
