*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    offset: 60px;
}
:root{
    --BGCOLOR:#ffffff;
    --FS:clamp(1.0rem,2vw,1.1rem);
    --FF:"PT Sans", sans-serif;
    --SECONDFF:"PT Sans", sans-serif;
    --THIRDFF:"PT Sans", sans-serif;
    --SECONDCOLOR:black;
    --THIRDCOLOR:#2F4F4F;
    --FOURTHCOLOR: #80817c;
    --BTNCOLOR:#008dfb;
   
    --SHADOWCOLOR:rgba(193, 186, 193, 0.965);
    --FOOTERBGCOLOR:#10131a;
    --FIFTHCOLOR: orange;
    --SIXTHCOLOR:#99a5b6;
    --FOOTERFCONE:#99a5b6;
    --FC:black;
    --SECONDFC:white;
    --TABLEFS:clamp(1.2rem,2vw,1.3rem);
    --TABLESECONDFS:clamp(0.9rem,2vw,1.0rem);
    --BORDERRADIUS:25px;
}
body{
    display:flex;
    justify-content: center;
    background-color: var(--BGCOLOR);
    font-family: var(--FF);
    font-size: var(--FS);
    color: var(--FC);
    width: 100%;
}
#root{
    display: flex;
    width: 100%;
}
