@media all and (min-width:52px){
    .introduction__content{
        flex-basis: clamp(52px,90vw,600px);
        padding: 30px 10px;
        align-self: center;
    }
    .content__company{
        width: 100%;
        transform: translateY(100px);
        opacity: 0;
        animation: welcomeAnimation 0.5s linear forwards;
    }
    @keyframes welcomeAnimation{
        0%{
            opacity: 0;
            transform: translateY(100px);
        }
        50%{
            opacity: 0.5;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .content__h2{
        width: 100%;
        display: flex;
        overflow-wrap:anywhere;
        
        font-size:var(--SECONDFS);
        font-style: normal;
        font-weight: 800;
    }
    .content__p{
        width: 100%;
        display: flex;
        line-height: var(--LINEHEIGHT);
        font-family: var(--SECONDFF);
        font-style: normal; 
        letter-spacing: 1.3px;
    }
}