.introduction__content{
    padding: 25px 10px;
    background: url('./images/wallpaperTwo.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 50vh;
}
 .content__company{
    color: var(--SECONDFC);
    max-width:600px;
    animation: intrContentAnimation 0.5s linear forwards 1 1.2s ;
    transform-origin: top center;
    transform: translateY(-250px);
 }
 @keyframes intrContentAnimation{
    0%{
        transform: translateY(-250px);
    }
    50%{
        transform: translateY(-125px);
    }
    100%{
        transform: translateY(0px);
    }
}
.content__company h2{
    font-size: clamp(1.1rem, 8vw, 3.1rem);
    font-weight: 800;
}
.content__p{
    line-height: 1.5em;
    margin-top: 10px;
} 